<section class="container form_">
  <form method="POST" class='form_imp' action="?pagina=admin&metodo=insertLinks">
    <h2>Links</h2>
    <div class="form-group">
      <!-- <label for="exampleFormControlInput1">Nome</label> -->
      <input type="text" name="nome" class="form-control" placeholder="nome">
    </div>
    <div class="form-group">
      <!-- <label for="exampleFormControlSelect1">Select de exemplo</label> -->
      <select name="categoria" class="form-control">
        <option>InstaSecullum</option>
        <option>AtSecullum</option>
        <option>Ferramentas</option>
      </select>
    </div>
    <div class="form-group">
      <!-- <label for="exampleFormControlTextarea1">Exemplo de textarea</label> -->
      <input type="text" name="link" class="form-control" placeholder="nome">
    </div>
    <button class="btn nav-item active btn-te " value="Salvar">Salvar </button>
  </form>


<!-- --------------------------------------------------------------------------- -->

  <form method="POST"class='form_imp'  action="?pagina=admin&metodo=insertDicas">
    <h2>Dicas</h2>
    <div class="form-group pre_ti">
      <!-- <label for="exampleFormControlInput1">Nome</label> -->
      <input type="text" name="titulo" class="form-control" placeholder="titulo">
    </div>
    <div class="form-group">
      <!-- <label for="exampleFormControlSelect1">Select de exemplo</label> -->
    <div class="form-group">
      <!-- <label for="exampleFormControlTextarea1">Exemplo de textarea</label> -->
      <textarea name="texto" class="form-control" rows="3"></textarea>
    </div>
    <button class="btn nav-item active btn-te " value="Salvar">Salvar </button>
  </form>



</section>