
<h2 id="dicas">Dicas</h2>
{% for postagem in postagens %}
<nav class="accordion navbar navbar-dark bg-dark  menu_itens btn" id="accordionExample" data-original-title="" title="">
  <div class="">
    <div class="" id="headingOne">
      <h5>
        <button class="btn-te-" type="button" data-toggle="collapse" data-target="#te{{postagem.id}}" aria-expanded="true" aria-controls="collapseOne">
         <strong>{{postagem.titulo}}</strong>
        </button>
      </h5>
    </div>

    <div id="te{{postagem.id}}" class="text_ collapse " aria-labelledby="headingOne" data-parent="#accordionExample" >
      <div  class="card-body">{{postagem.texto}}

        <button id="copy" data-clipboard-text="{{postagem.texto}}" data-toggle="popover" data-content="Copiado!"><img src="/src/view/content_copy_black_24dp.svg"></button>
        <a href="/?pagina=post&id={{ postagem.id }} " target="_blank"><img src="/src/view/open_in_new_white_24dp.svg" ></a>
        <button class="btn"><td><a href="/?pagina=admin&metodo=change&id={{postagem.id}}"><img src="/src/view/edit_white_24dp.svg" > </a> </button>
        <button class="btn"><td><a href="/?pagina=admin&metodo=deletedicas&id={{postagem.id}}"><img src="/src/view/delete_outline_white_24dp.svg" > </a> </button>
      </div>
    </div>
  </div>
</nav>


{% endfor %}



    