<section class="container">
    <article>
      <header>
        <nav class="accordion navbar navbar-dark bg-dark  menu_itens btn" id="accordionExample" data-original-title="" title="">
          <div class="">
            <div class="" id="headingOne">
              <h5>
                <button class="btn-te-" type="button" data-toggle="collapse" data-target="#te37" aria-expanded="true" aria-controls="collapseOne">
                  <strong>{{titulo}}</strong>
                </button>
              </h5>
            </div>
      </header>
      <div id="te37" class="collapse text_" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">{{texto}}
  
          <button class="btn" data-clipboard-text="{{textp}}" data-toggle="popover" data-content="Copiado!" data-original-title="" title=""><img src="./src/content_copy_black_24dp.svg"> Copiar</button>
        </div>
      </div>
    </div>
  </nav>
    </article>

</section>



    